@import "./roboto.css";

body {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
}

body.lock {
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  background-color: azure;
}

.container {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 160px;
  align-items: center;
}

.burger-menu {
  position: relative;
  width: 50px;
  height: 40px;
  z-index: 3;
}

.burger-menu.hover {
  cursor: pointer;
}

.burger-menu span {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: yellow;
  border-radius: 5px;
  transition: all 0.7s ease 0s;
}

.burger-menu.hover span {
  box-shadow: 0 2px 5px 0 black;
}

.burger-menu.green span {
  background-color: rgba(0, 128, 0, 0.8);
}

.burger-menu::before,
.burger-menu::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 8px;
  background-color: yellow;
  border-radius: 5px;
  transition: all 0.7s ease 0s;
}

.burger-menu.hover::before,
.burger-menu.hover::after {
  box-shadow: 0 2px 5px 0 black;
}

.burger-menu.green::before,
.burger-menu.green::after {
  background-color: rgba(0, 128, 0, 0.8);
}

.burger-menu::before {
  top: 0;
}

.burger-menu::after {
  bottom: 0;
}

.burger-menu.active::before {
  transform: rotate(45deg);
  top: 16px;
}

.burger-menu.active::after {
  transform: rotate(-45deg);
  bottom: 16px;
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu_content {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 60%;
  padding: 140px 0px 0px 0px;
  overflow: auto;
  transition: all 0.7s ease 0s;
  background-color: rgba(0, 128, 0, 0.9);
  z-index: 2;
}

.burger-menu_content.yellow {
  background-color: yellow;
  opacity: 0.9;
}

.burger-menu_content.active {
  left: 0;
}

.menu-list {
  margin: 0 0 0 455px;
}

.menu-list li {
  list-style-type: none;
  margin: 0 0 20px 0;
}

.menu-link {
  font-size: 30px;
  font-weight: 700;
  color: yellow;
}

.burger-menu_content.yellow .menu-link {
  color: rgba(0, 128, 0, 1);
}

.menu-link:hover {
  cursor: pointer;
  font-size: 40px;
  color: white;
  transition: all 0.3s ease 0s;
}

.menu-link.active {
  text-decoration-line: underline;
}

.burger-menu_content.yellow .menu-link:hover {
  color: black;
}

.switch-container.hover {
  cursor: pointer;
}

.switch-label {
  display: inline-block;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background: yellow;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  transition-duration: 300ms;
}

.switch-container.hover .switch-label {
  box-shadow: 0 2px 5px 0 black;
}

.switch-label::before {
  content: "TRAIN";
  font-size: 22px;
  color: rgba(0, 128, 0, 0.8);
  top: 7px;
  left: 7px;
  transition: all 0s ease 0s;
  position: absolute;
  z-index: 1;
}

.switch-label::after {
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: #fff;
  top: 2px;
  left: 80px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switch-label.off {
  background: rgba(0, 128, 0, 0.8);
}

.switch-label.off::after {
  left: 4px;
}

.switch-label.off::before {
  content: "PLAY";
  color: yellow;
  left: 60px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.main-card {
  width: 300px;
  height: 338px;
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(59, 59, 235, 0.4);
  border: 3px solid yellow;
  transition-duration: 300ms;
}

.main-card:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 black;
}

.main-card.green {
  border: 3px solid rgba(0, 128, 0, 0.8);
}

.card_main-img {
  height: 80%;
  background-size: cover;
  background-position: top;
}

.card_main-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  font-size: 30px;
  background-color: white;
}

.section-card_container {
  position: relative;
  width: 300px;
  height: 338px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 3px solid yellow;
  perspective: 1000px;
}

.section-card_container:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 black;
}

.section-card_container.green {
  border: 3px solid rgba(0, 128, 0, 0.8);
}

.section-card_front {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(59, 59, 235, 0.4);
  transition: 1s;
  backface-visibility: hidden;
}

.section-card_front.rotate-front {
  transform: rotateY(180deg);
}

.section_front-img {
  height: 80%;
  background-size: cover;
  background-position: top;
}

.section-card_container.green .section_front-img {
  height: 100%;
  background-size: cover;
  background-position: top;
}

.section_front-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  font-size: 30px;
  background-color: white;
}

.section-card_container.green .section_front-description {
  display: none;
}

.section-card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(59, 59, 235, 0.4);
  transform: rotateY(180deg);
  transition: 1s;
  backface-visibility: hidden;
}

.section-card_back.rotate-back {
  transform: rotateY(360deg);
}

.section_back-img {
  height: 80%;
  background-size: cover;
  background-position: top;
}

.section_back-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  font-size: 30px;
  background-color: white;
}

.rotate {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 12px;
  right: 12px;
  filter: grayscale(1);
  transition: all 0.7s ease 0s;
  backface-visibility: hidden;
}

.rotate:hover {
  filter: none;
}

.section-card_container.green .rotate {
  display: none;
}

.play_switch-container {
  display: none;
  justify-content: center;
}

.play_switch-container.play {
  display: flex;
}

.play_switch-label {
  display: inline-block;
  width: 220px;
  height: 60px;
  border-radius: 8px;
  background: rgba(0, 128, 0, 0.8);
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  transition-duration: 300ms;
}

.play_switch-label.hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 black;
}

.play_switch-label::before {
  content: "START";
  font-size: 35px;
  color: yellow;
  top: 10px;
  left: 15px;
  transition: all 0s ease 0s;
  position: absolute;
  z-index: 1;
}

.play_switch-label::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  /* background-image: url("../../pablic/img/rotate.png"); */
  top: 4px;
  left: 150px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.play_switch-label.hover::after {
  left: 165px;
}

.footer {
  height: 80px;
}
